/*--- main container ---*/
.main_container > .container, .main_container > .container-fluid {
	padding-top:20px;
	padding-bottom:20px;}

.main_container  .content-wrapper {
	border:1px solid #c7c8cc;}

/*--- table -holder ----*/
.main_container .table-holder {
	margin:0;}

.table-holder .table {
	font-size:12px;}

.table-holder .table thead {
	background-color:#b6b7bb;}
	
.table-holder .table thead th {
	font-weight:400;
	color:white;
	text-transform:uppercase;}
	
/*--- filter - holder ----*/
.main_container .filter-holder {
	margin:0;
	padding-bottom:20px;
	font-size:12px;}
	
.main_container .filter-holder > form > * {
	margin-right:10px;
	height:32px;}
	
.main_container .filter-holder > form > button {
	padding:0;
	padding-left:10px;
	line-height:30px;
	border:none;
	color:white;
	background-color:#fb8f73;
	border-radius:0;}
	
.main_container .filter-holder > form > button:hover {
	background-color:#cc5c4e;}
	
.main_container .filter-holder > form > button > span {
	background-color:#cc5c4e;
	line-height:30px;
	margin-left:10px;
	display:inline-block;
	padding:0 5px;}
	
/*-- modal window create invoive --*/
#invoiceInfo {}

#invoiceInfo .modal-dialog > .modal-content {
	border-radius:0;}
	
#invoiceInfo .supl-header > table  tr > td:nth-child(odd) {
	width:25%;
	background-color:#b6b7bb;
	font-size:12px;
	text-transform:uppercase;
	font-weight:400;
	color:white;}
	
#invoiceInfo .supl-header > table  tr > td {
	font-size:12px;
	color:#9b9292;}
	
#invoiceInfo .modal-prod-list-holder table > thead th {
	color:white;
	font-size:12px;
	text-transform:uppercase;	
	background-color:#b6b7bb;
	font-weight:400;}
	
#invoiceInfo .modal-prod-list-holder table > tbody td {
	font-size:12px;
	color:#9b9292;}
	
.modal-footer .btn {
    background-color: #fb8f73;
    border: medium none;
    border-radius: 0;
    color: white;
    line-height: 26px;
    padding: 0 0 0 10px;}
	
.modal-footer .btn:hover {
    background-color: #cc5c4e;}
	
.modal-footer .btn > span {
    background-color: #cc5c4e;
    display: inline-block;
    line-height: 26px;
    margin-left: 10px;
    padding: 0 5px;}
